p{
    font-family: serif;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps
    
}


h2{
    font-family: fantasy;
    font-variant: small-caps;
    font-weight: 400;
    
}