table{
    border-collapse: collapse;
    width: 35%;
    margin: 0px auto;
    margin-top: 20px;
    
    
}

th,td{
    border: 1px solid red;
    border-collapse: collapse;
}


th{
    background-color: orange;
    text-align: center;
    padding: 10px;
}

td{
    background-color:aquamarine;
    text-align: float;
    padding: 5px;
}

