*{
    float: left;
    margin: 0px;
}
.c1{
    filter: none;
    display: inline-block;
    width: 25%;
}

.blur{
    filter: blur(1px);
      display: inline-block;
    width: 25%;
    
}

.brightness{
    filter: brightness(40%);
    display: inline-block;
    width: 25%;
    
}

.contrast{
    filter: contrast(4);
    display: inline-block;
    width: 25%;
}

.gray{
    filter: grayscale(10);
    display: inline-block;
    width: 25%;
}

.shadow{
    filter: drop-shadow(2px 2px 2px green);
    display: inline-block;
    width: 25%;
        
}

.opacity{
    filter: opacity(0.6);
    display: inline-block;
    width: 25%;
    
}

.invert{
    filter: invert(43%);
    display: inline-block;
    width: 25%;
     
}

.saturate{
    filter: saturate(5);
    display: inline-block;
    width: 25%;
}

.sepia{
    filter: sepia(10);
    display: inline-block;
    width: 25%;
    
}

.saturate1{
    filter: saturate(3);
    width: 25%;
    display: inline-block;
}

h2{
    position: fixed;
    top: 300px;
    right: 20px;
    color: mediumspringgreen;
    font-size: 40px;
    font-family: sans-serif;
    text-indent: 10px;
    
}

h2::first-letter{
    color:red;
}