a{
    color: white;
    font-family: tahoma;
    font-size: 25px;
    padding: 15px;
    margin: 200px 200px;
}

a:link{
    background-color:red;
    text-decoration: none;
    }

a:hover{
    background: orange;
    color: blue;
}

a:active{
    background: blue;
    color: red;
}

/*a:visited{
    background: gray;
    color: red;
}*/