*{
    margin: 0px auto;
    text-align: justify
}

.div1{
    float: left;
    height:171px;
    width: 350px;
    background-repeat: no-repeat;
    background-image: url(img/2.jpg);
}

p{
    clear: left;
}

.div{
    float: left;
    height: 200px;
    width: 25%;
}

.div2{
    background-color: red;
}
.div3{
    background-color: green;
}

.div4{
    background-color: yellow;;
}

.div5{
    background-color: blue;;
}

h1{
    position: absolute;
    top: 40px;
    right: 200px;
    text-transform: uppercase;
    color: crimson;
}