.outline{
    width: 50%;
    height: 170px;
    text-align: justify;
    background-color: burlywood;
    border: 2px solid black;
    outline-width: 4px;
    outline-style: dotted;
    outline-color: red;
    outline-offset: 20px;
    margin: 40px 80px;
    display: inline-block;
    
    
}